body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

h1 {
  color: #66BFBF;
  margin: 50px auto 0;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
}

h2 {
  font-weight: normal;
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

.sizep {
  font-size: 2.5rem;
}

.image {
  border-radius: 50%;
  width: 16%;
}

.divtop {
  background-color: #E4F9F5;
  padding-top: 100px;
  /* margin-right: 0; */
}

.cloud1 {
  position: relative;
  left: 252px;
  top: 0;
}

.cloud2 {
  position: absolute;
  left: 234px;
}


.skill-row {
  width: 50%;
  margin: 100px auto auto auto;
  line-height: 2;
  text-align: left;
}

.web-image {
  width: 25%;
  float: left;
  margin-right: 30px;
  border-radius: 50%;
}

.code-image {
  width: 25%;
  float: right;
  margin-left: 30px;
  border-radius: 50%;
}


hr{
  border: 8px solid #EAF6F6;
  border-style: dotted none none;
  width: 5%;
  margin: 50px auto;
}

.btn {
   background: #3D94F6;
   background-image: -webkit-linear-gradient(top, #3D94F6, #175DCD);
   background-image: -moz-linear-gradient(top, #3D94F6, #175DCD);
   background-image: -ms-linear-gradient(top, #3D94F6, #175DCD);
   background-image: -o-linear-gradient(top, #3D94F6, #175DCD);
   background-image: -webkit-gradient(to bottom, #3D94F6, #175DCD);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;

   padding: 10px;
   -webkit-box-shadow: 1px 1px 5px 0 #000000;
   -moz-box-shadow: 1px 1px 5px 0 #000000;
   box-shadow: 1px 1px 5px 0 #000000;
   text-shadow: 1px 1px 5px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}

.bottom-container{
  background-color: #66BFBF;
  margin: 30px auto auto;
  padding-top: 20px;
  padding: 50px 0 16px;
}
.bottom-container a{
  text-decoration: none;
  color: #11999E;
}
.bottom-container a:hover{
  color: #EAF6F6;
}
.bottom-container p{
  font-size: 0.75rem;
  color: #EAF6F6;
}
